*
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}
::-moz-focus-inner, ::-moz-focus-outer
{
    border: none;
}
body
{
    
}
#container
{
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.card
{
    width: 200px;
    padding: 50px;
    color: white;
}
.card:nth-child(1)
{
    background: hsl(31, 77%, 52%);
}
.card:nth-child(2)
{
    background: hsl(184, 100%, 22%);
}
.card:nth-child(3)
{
    background: hsl(179, 100%, 13%);
}
.card h1
{
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 30px;
}
.card svg
{
    margin-bottom: 30px;
}
.card p
{

}
.card a
{
    margin-top: 70px;
    display: block;
    background: white;
    border: 2px solid white;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 35px;   
    transition: background .2s, color .2s; 
}
.card a:hover 
{
    background: transparent;
    color: white !important;
}
.card:nth-child(1) a
{
    color: hsl(31, 77%, 52%);
}
.card:nth-child(2) a
{
    color: hsl(184, 100%, 22%);
}
.card:nth-child(3) a
{
    color: hsl(179, 100%, 13%);
}
@media screen and (max-width: 900px)
{
    #container
    {
        flex-direction: column;
            top: 0; 
            transform: translate(-50%, 30px);
        margin-bottom: 10px;        
    }
    .card
    {
        width: 250px;
    }
}